@font-face {
    font-family: myDigitalFont;
    src: url(./font/digital-7\ \(mono\ italic\).ttf);
}



#tieude {
    z-index: 9999;
    position: relative;
    text-align: center;
    width: 3840px;
    height: 110px;
    background: rgb(15, 1, 63);
}

#tieude span {
    /* line-height: 75px; */
    font-weight: bold;
    font-size: 70px;
}

.svg-list {
    margin-bottom: 30px;
    width: 70px;
}

a.logo {
    top: 10px;
    position: absolute;
    font-size: 34px;
    color: rgb(33 26 224);
    text-transform: uppercase;
    left: 100px;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

a.logo b {
    font-weight: 900;
}

a.logo span {
    color: rgb(243 183 3);
    background: url(https://24.media.tumblr.com/tumblr_m87dri70zh1qzla33o1_500.gif);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.NameProject {
    background: rgb(255, 255, 255);
    background-size: 300px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Time new roman";
}

.syno {
    background: linear-gradient(90deg, rgb(99, 138, 245) 0%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Time new roman";
    font-size: 70px;
    left: 60px;
}

#myTime {
    position: absolute;
    left: 3400px;
    top: 30px;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-family: "Time new roman";
}

/* wrapper */
#wapper {
    position: absolute;
    top: 60px;
    width: 3840px;
    height: 2073.9px;
}

#left-wapper {
    width:3840px;
    height: 2080px;
    background: rgb(248, 244, 244);
}

#footer {
    height: 50.126px;
    top: 2028px;
    background: rgb(153, 247, 247);
    position: relative;
    transform: translateY(-60%);
}

@keyframes loader {
    0% {
        width: 0;
    }
    100% {
        width: 400px;
    }
}

.process {
    position: absolute;
    height: 34px;
    border-radius: 10px;
    top: 26.5px;
    left: 430px;
    animation: loader 8s linear infinite;
    background: #dbeb05;
    border: none;
    transform: translateY(-60%);
}

.black {
    background: black;
}

.green {
    background: rgb(31, 155, 31);
    box-shadow: 0px 1px 2px rgb(31, 155, 31);
}

#hmi{
    position: absolute;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    top: 27px;
    left: 1385px;
    border: none;
    transform: translateY(-60%);
}

#connect{
    position: absolute;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    top: 27px;
    left: 1050px;
    border: none;
    transform: translateY(-60%);
}

#timedata{
    background: rgb(153, 247, 247);
    position: absolute;
    height: 34px;
    width: 500px;
    top: 7px;
    right: 255px;
    border: none;
    font-size: 34px;
    font-family: "times new roman";
}

.wind {
    display: flex;
    position: absolute;
    width: 150px;
    height: 60px;
    transform: rotate(180deg);
}



